.App {
	text-align: center;
}

.App-link {
	color: #61dafb;
}

.page__content {
	background: #a7dbdf !important;
	background-size: cover;
}

.tabbar {
	height: 4rem;
	border-top: #000 !important;
	background: #eb3349 !important;
	/* background-image: linear-gradient(
		to right,
		#eb3349 0%,
		#f45c43 51%,
		#eb3349 100%
	); */
	background-size: cover;
}

.tabbar__button {
	height: 4rem;
	color: #f0aba0;
	background: #d62e41 !important;
}

:checked + .tabbar__button {
	color: #fff !important;
	background: #eb3349 !important;
	border: none;
	/* box-shadow: 0 9px 0px 0px transparent, 0 -9px 0px 0px transparent,
		13px 0 15px -2px #a824335b, -13px 0 15px -2px #a824335b; */
}

.tabbar__icon {
	font-size: 28px;
	line-height: 28px;
	height: 30px;
}

.tabbar__icon + .tabbar__label {
	font-size: 13px !important;
	line-height: 1;
	margin: 0;
	font-weight: 400;
}

form {
	height: 2.5rem !important;
	margin: 0.5rem !important;
}

input {
	border: none;
	border-radius: 0.1rem;
	height: 1.2rem;
	padding: 5px !important;
}

.input-field {
	font-size: 24px;
	width: 50vw;
}

.list {
	margin-top: 3rem;
	background: transparent;
}

.list-item:nth-child(even) {
	background-color: transparent !important;
}
.list-item:nth-child(odd) {
	background: #9fd1d4 !important;
}

.btn {
	margin: auto 5px;
	background-color: transparent;
	border: none !important;
}

.search-btn {
	vertical-align: middle;
	font-size: 28px !important;
	line-height: 28px;
}

.map-btn {
	font-size: 16px;
	height: 1.5rem;
	border-radius: 0.1rem;
}

.login-btn {
	font-size: 22px !important;
}

.zmdi-pin {
	color: #eb3349 !important;
}
