.App,
.page,
.list,
h1,
h2,
h3,
.tabbar_label,
button,
input {
	font-family: -apple-system, "Helvetica Neue", "Helvetica", "Arial",
		"Lucida Grande", sans-serif !important;
}

.tabbar__icon {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2rem !important;
}

.list-item {
	font-size: 1.2rem !important;
}

.input-field {
	font-size: 1rem !important;
}

.subtle {
	color: #a7b4b4;
}

.pulse {
	color: #f1faee !important;
}

.drink-btn {
	color: #eee;
	font-size: 50px;
}

.search-btn {
	color: #111 !important;
}

.btn-text-bajs {
	font-size: 16px;
}

.confirm {
	color: #eb3349 !important;
	font-weight: 600;
	font-size: 14px;
}
